[build]
  base = "mus-dashboard-frontend"
  command = "npm install && npm run build"
  publish = "dist"
  functions = "../mus-dashboard-backend/netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
