[build]
  base = "mus-dashboard-frontend"
  command = "npm install && npm run build"
  publish = "mus-dashboard-frontend/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
